.admin-layout {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

/* RIGHT SIDE */
.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.admin-content {
  padding: 25px;
}
