.admin-header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.admin-header h3 {
  margin: 0;
  color: black;
}

.logout-btn {
  margin-top: 0;
  background: none;
  border: none;
  color: #ff4d4f;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease, color 0.2s ease;
}

.logout-btn:hover {
  color: #d9363e;
  transform: scale(1.1);
}