.dashboard {
  padding: 30px;
}

.stat-card {
  max-width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.stat-card h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 42px;
  font-weight: bold;
  color: #222;
}
