@import "./NewsForm.css";

.form-actions button{
    background: #1e88e5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}