body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f2f5;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #004d40;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}